.topBanner {
  position: relative;
  height: 10vh;
}

.logo{
  position: relative;
  left:20%;
  width: 100px;
  height: 60px;
  display: table-cell !important;
}

.title {
  position: relative;
  left: 23%;
  top: 15px;
  display: table-cell !important;
  font-size: 30px;
}

.menuMap {
  position: relative;
  left: 10%;
  top: 8px;
  padding-left: 30px;
  display: table-cell !important;
}
.login{
  position: relative;
  left:95%;
  top: 8px;
  font-size: 16px;
  align-content: center;
  padding-left: 30px;
  display: table-cell;
}
